<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCLoginWebApp:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="Login.war">
      <element id="artifact" artifact-name="SpringMVCLoginWebApp:war exploded" />
    </root>
  </artifact>
</component>